{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": true,
      "decorators": false,
      "dynamicImport": true
    },
    "transform": {
      "react": {
        "runtime": "automatic",
        "development": false,
        "useBuiltins": true
      }
    },
    "target": "es2020"
  },
  "minify": false,
  "module": {
    "type": "es6"
  }
}